@model  List<Vidly.Models.Movie>
@{
    ViewBag.Title = "Index";
}

<h2>Movies</h2>
<p>
    @Html.ActionLink("New Movie", "New", "Movies", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-hover table-bordered">
    <thead>
        <tr style="width:100%">
            <th>Movie</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
            {
            <tr style="width:100%">
                <th>@Html.ActionLink(m.Name, "Details", "Movies", new { Id = m.Id}, null)</th>
                <th style="font-weight:400">@m.Genre.Name</th>
            </tr>
        }
    </tbody>
</table>