@model List<Vidly.Models.Customer>
@{
    ViewBag.Title = "Index";

}

<h2>Customers</h2>
@if (!Model.Any())
{
    <h4>We don't have any customer yet.</h4>
}
else
{
    <table class="table table-hover table-bordered">
        <thead>
            <tr style="width:100%">
                <th>Customer</th>
                <th>Membership Info</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var c in Model)
            {
                <tr style="width:100%">
                    <th >@Html.ActionLink(c.Name, "Details", "Customers", new { Id = c.Id}, null)</th>
                    <th style="font-weight:400">@c.MembershipType.Name</th>
                </tr>
            }
        </tbody>
    </table>
    <p>
        @Html.ActionLink("New Customer", "New", "Customers", null, new { @class = "btn btn-primary" })
    </p>
}